<!-- HEADER -->
<div class="main-wrapper"> 

    <header id="pageTop" class="header">

      <!-- TOP INFO BAR -->
      <div class="nav-wrapper">
        <nav id="menuBar" class="navbar navbar-default transparent-navbar " role="navigation"> 
          <a class="navbar-brand" href="index.html">
            <img src="<%= asset_path 'logo/logo-blanc.svg' %>" height="44px" width="140px" />
          </a>
          <a class="btn btn-default navbar-btn" href="add-listings.html">S'inscrire</a>
        </nav>
      </div>

    </header>
</div>