<!-- HEADER -->
<div class="main-wrapper"> 

    <header id="pageTop" class="header">

      <!-- TOP INFO BAR -->
      <div class="nav-wrapper" >
        <nav id="menuBar" class="navbar navbar-default transparent-navbar " role="navigation"> 
          <a class="navbar-brand" href="<%= root_path %>">          
            <img src="<%= asset_path 'logo/logo-blanc.svg' %>" height="44px" width="140px" />
          </a>

<% if user_signed_in? %>

            <%= button_to "Se déconnecter", destroy_user_session_path, method: :delete, class: 'btn btn-default navbar-btn'%>
            

<% else %>   
              <%= button_to "Se connecter", new_user_session_path, class: 'btn btn-default navbar-btn' %>
            
            
         
<% end %>

        </nav>
      </div>

    </header>
</div>
